<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-1">

        </div>

        <div class="card col-lg-5" style="width: 30rem;">
            <img class="card-img-top"
                src="https://cdn.shopify.com/s/files/1/0252/3765/products/vintage-chain-choker_360x.jpg?v=1661716686"
                alt="">

            <div class="card-body">
                <h5>BRIDGET FANCY</h5>
            </div>
        </div>
        <div class="col-md-1">

        </div>

        <div class="card col-lg-5" style="width: 30rem;">
            <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0252/3765/products/Silver-chain-choker-gothic_d50191fb-c6c9-435c-bab3-51aaac8868b4_540x.jpg?v=1665163866" alt="">

            <div class="card-body">
                <h5>BRIDGET FANCY</h5>
            </div>
        </div>
    </div>
</div>