.card{
    margin: auto;
    margin-bottom: 3rem;
    padding: 1%;
    border: 0px;
}

button,p{
    color: black;
    font-weight: bolder;
}

.imgModal{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li{
    margin-left: 2px;
}

.newIn{
    text-align: center;
}