<div class="container-fluid">
    <div class="row">
        <!--BRIDGET FANCY-->
        <div class="card col-lg-3 " >
            <img src="https://cdn.shopify.com/s/files/1/0252/3765/products/vintage-chain-choker_360x.jpg?v=1661716686" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">BRIDGET</p>
            </div>
          </div>

        <!--BRIDGET RED-->
        <div class="card col-lg-3 " >
            <img class="card-img-top"
                src="https://cdn.shopify.com/s/files/1/0252/3765/products/gold-floral-choker-necklace_900x.jpg?v=1606915443"
                alt="">

            <div class="card-body">
                <p class="card-text">BRIDGET RED</p>
            </div>
        </div>

        <!--BETROTHAL GREEN-->
        <div class="card col-lg-3 ">

            <img class="card-img-top"
                src="https://cdn.shopify.com/s/files/1/0252/3765/products/green-quartz-gemstone-choker_6feb7215-4bea-4a54-ac72-354e49782bcd_900x.jpg?v=1611826736"
                alt="">
            <div class="card-body">
                <p class="card-text">BETROTHAL GREEN</p>
            </div>
        </div>

        <div class="card col-lg-3">
            <img class="img-card-top" src="https://cdn.shopify.com/s/files/1/0252/3765/products/Heart-and-dagger-gold-necklace_900x.jpg?v=1606875182" alt="">

            <div class="card-body">
                <p class="card-text">DEVOTION</p>
            </div>
        </div>
    </div>
</div>