<!--RINGS-->
<div class="container-fluid">
  <div class="row">
  <h2 class="newIn">New in!</h2>
  <div class="card col-lg-4">
      <div class="card-body">
          <img src="https://cdn.shopify.com/s/files/1/0252/3765/products/Garnet-gemstone-skull-ring_942bce4b-6c94-4da8-902a-789ebc13ae99_900x.jpg?v=1647026310" class="d-block w-100" alt="">
      </div>

      <div class="card-footer">
          
      </div>
      
  </div>

  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">

  </div>
</div>
</div>
