    <!--CARD/CAROUSEL-->
    <div class="container-fluid">
       <div class="row">
      <div class="col">
      <div id="carouselExampleIntervalCarousel" class="carousel slide carouselInitial" data-bs-ride="carousel">
      <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
          <img src="https://cdn.shopify.com/s/files/1/0252/3765/t/230/assets/slide2_1200x.jpg?v=6354480901563257211665660910"  class="d-block w-100" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
          <img src="https://cdn.shopify.com/s/files/1/0252/3765/t/230/assets/slide3_1296x.jpg?v=94917669192022398541665660911" class="d-block w-100" alt="50">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
          <img src="https://cdn.shopify.com/s/files/1/0252/3765/t/230/assets/slide4_1296x.jpg?v=118288015021131793091667155347" class="d-block w-100" alt="">
      </div>
      </div>
      <button title="btnPrev" type="button" class="carousel-control-prev" data-bs-target="#carouselExampleIntervalCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button title="btnNext" type="button" class="carousel-control-next" data-bs-target="#carouselExampleIntervalCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
      </div>
      </div>
      </div>
    </div>
   